<div class="container bg">

  <div class="row">
      {{!-- <img src="assets/img/burger.png" alt="Eat-Da-Burger App"> --}}
      <h1>Burger App</h1>

  </div>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> cats/cat-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are eaten.</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> cats/cat-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Devoured?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Burger</button>
</form>


  {{!-- <div class = "row">

    <div class="col-sm-6">
      <h2>Burgers ready to eat.</h2>
        <ul>
          {{#each burgers}}
            {{#unless devoured}}
              {{> cats/cat-block devoured=true}}
 --}}
              {{!-- <li>
                {{id}}
                {{name}}

                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button class="btn-primary" type="submit">Devour It</button>
                </form>
              </li> --}}

            {{!-- {{/unless}}
          {{/each}}
        </ul>
    </div> --}}

    {{!-- <div class="col-sm-6">
      <h2>Burgers that have been eaten:</h2>

      <ul>
        {{#each burgers}}
          {{#if devoured}}
              {{> cats/cat-block devoured=false}}
 --}}
              {{!-- <li>
                {{id}}
                {{name}}
              </li> --}}

          {{!-- {{/if}}
        {{/each}}
      </ul>
    </div>
  </div> --}}

  {{!-- <div class = "row">
    <div class="center col-sm-12">

      <h2>Add A Burger</h2>
      {{!-- <form class="create-form" action="/" method="POST"> --}}

      <form class="create-form">
        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="burger_name">
        </div>

        <div class="form-group">
          <label for="slee">Eaten?</label><br>
          <input type="radio" name="devoured" value="1" checked> Burger is eaten.<br>
          <input type="radio" name="devoured" value="0"> Burger is ready to eat.
        </div>

        <button type="submit">Add A Burger</button>
      </form>
    </div>
  </div>
</div> --}}